# ─────────────────────────────────────────────
#  HawkBeak Chat – Environment Variables
# ─────────────────────────────────────────────

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://saim2233:bawala@saim.n9dnflj.mongodb.net/hawkbeak?retryWrites=true&w=majority



# JWT
JWT_SECRET=saim2233hawkbeakchat
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhqpjv2gw
CLOUDINARY_API_KEY=958124623653465
CLOUDINARY_API_SECRET=wqH6fhamHwYvIQkoLx_BbL--t5A

# Client (CORS)
CLIENT_URL=https://hawkbeakchat.vercel.app
